html
{
    font-family: 'Open Sans', sans-serif, 'Roboto';
    display: flex;
    position: relative;
    font-size: 1.05em;

}
body
{
    width :100% ;
    margin: 0px;
}
#container
{
    display: flex;
    width: 100%;  
}
aside
{
    width: 30%;
    background-color: #FFC107;
    margin: 0px;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
}
main
{
    padding-right: 3.5em;
    padding-left: 3.5em;
    width: 72%;
}
img.displayed
{
    margin-top: 3.5em;
    width: 13em;
    height: 13em;
    border-radius: 50%;
    padding: 0.7em;
}
#infos
{   
    margin: auto;
    text-align: justify;
    width: 82%;
}
#contact, #Apropos, #Loisirs
{
    background-color: #37474F; 
    color:  #FFC107;
    padding: 5px;
    width: auto;
    margin-top: 1.5em;
}
#moi
{
    text-align: justify;
    width: 82%;
    margin: auto;
}
.fa-bowling-ball, .fa-futbol, .fa-table-tennis
{
    font-size: 2em;
    border: 1px solid #37474F;
    width: 1em;
    height: 1em;
    padding: 12PX;
    border-radius: 50%;
    margin: 12px;
}

#bas
{
    position: absolute;
    bottom:1em;
    left: 0px;
    right: 0px;
}
header
{
    padding-top: 4em;
    padding-bottom: 4.5em;
}
h1
{
    font-size: 3.5em;
    margin-bottom: 5px;
}
#prenom
{
    color:#FFC107;
}
h2
{
    font-size: 1.7em;
    margin-top: 0px;    
}
#ligne
{
    border-bottom: 2px solid #FFC107;
}
.flex
{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 5%;
}
main h3
{
    border-bottom: 2px solid #FFC107;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-size: 1.7em;
    margin-top: 30px;
}
.fa-dot-circle
{
    
    padding-top: 4px;
    width: 30px;
    content: "\f192";
    color: #FFC107;
    font-size: 1em;
}
.fa-circle
{
    content: "\f192";
    color: #FFC107;
    font-size: 0.5em; 
    padding-top: 7px;
    padding-left: 3px;
    width: 30px;
}
.fa-pencil-alt,.fa-graduation-cap, .fa-briefcase
{
    margin-right: 12PX;
    color: #FFC107;
}
h3
{
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-top: 1em
}
.fa-html5:before
{
    content: "\f13b";
    color: #FFC107;
}
.fa-css3:before
{
    content: "\f13c";
    color: blue;
}
.fa-github:before
{
    content: "\f09b";
}
.date
{
    width: 47%;
}
.exp
{
    width: 70%;
}
.alignement
{
    display: inline-flex;
}
h4
{
    font-size: 1.3em;
    margin-bottom: 0px;
    margin-top: 0px;
}
#RECOMMANDATIONS
{
    display: flex;
    margin-bottom: 2em;
}
h5
{
    font-size: 1em;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}
p
{
    margin-top: 7px;
    margin-bottom: 7px;
}
.soustitre 
{
    font-size: 1.2em;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 0px;
}
.rec
{
    width: 50%;
}


/*FORMAT TABLETTE*/
@media all and (max-width: 991.98px)

{ 
    html
    {
        font-size: 20px;
    }
    
    #container
    {
        flex-direction: column;
        width: 100%;
    }
    aside
    {
        width: 100%;
    }
    main
    {
        margin: auto;
        padding: 0px;
        width: 80%;
    }
    header
    {
        padding-top: 1em;
        padding-bottom: 1em;
    }
    
    .flex
    {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: 20%;
        
    }
    .date
    {
        width: 100%;
    }
    
    #bas
    {
        display: contents;
        bottom: 1em;
    }
    #RECOMMANDATIONS
    {
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-left: 20%;

    }
    .rec
    {
        margin: auto;
        width: 72%;
    }
    h1
    {
        font-size: 2em;
        text-align: center;
    }
    h2
    {
        font-size: 1.2em;
        margin-top: auto;
        text-align: center;
    } 
    main h3
    {
        text-align: center;
        font-size: 1.1em;
    }  
    h4
    {
        font-size: 1em;
    }
    #moi
    {
        margin: AUTO;
        margin-bottom: 30PX;
    }
    .fa-futbol
    {
        margin-left: 50px;
        margin-right: 50px;
    }
    
       
    .alignement
    {
        display: inline-flex;
    }
    .exp
    {
        width: 100%;
        margin-left: 7%;
        margin-top: 3%;

    } 
    #infos
    {
        text-align: center;
    }
}
@media only screen and (max-device-width:480px)

{
    html
    {
        font-size: 13.1px;
    }
    h1
    {
        font-size: 2.5em;
    }
    h2
    {
        font-size: 1.5em;
    }
    main h3
    {
        font-size: 1.3em;
    }
   
    .date
    {
        align-self: start;
        width: 100%;
        margin-top: 5%;
    }
    .flex
    {
        margin-left: 0%;
        width: 100%;
    }
    .fa-dot-circle, .fa-circle
    {
        width: 6.5%;
    }
    #RECOMMANDATIONS
    {
        display: flex;
        flex-direction: column;
        margin-bottom: 3px;
        margin-left: 0px;

    }
    .rec
    {
        margin: auto;
        padding: 0px;
        width: 69%;
    }
    .exp
    {
        width: 280px;
        margin-bottom: 5%;
        margin-left: 8%;
        margin-top: 5%;
    }
    
}
@media only screen and (max-device-width:320px)
{
    html
    {
        font-size: 13.1px;
    }
    main
    {
        width: 90%;
        
    }
    h1
    {
        font-size: 2em;
    }
    h2
    {
        font-size: 1.3em;
    }
    main h3
    {
        font-size: 1.2em;
    }
   
    .date
    {
        align-self: start;
        width: 100%;
        margin-top: 5%;
    }
    .flex
    {
        margin-left: 0px;
    }
    #RECOMMANDATIONS
    {
        display: flex;
        flex-direction: column;
        margin-bottom: 3px;
    }
    .rec
    {
        padding: 0px;
        width: 72%;
    }
    .exp
    {
        width: 280px;
        margin-bottom: 5%;
        margin-left: 0px;
        margin-top: 5%;

    }
    .fa-futbol
    {
        margin-left: 35px;
        margin-right: 35px;
    }
}



/*FORMAT TELEPHONE*/

