html, body
{
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif, 'Roboto';
    height: auto;
    font-size: 1em;
    margin: 0px;
    display: flex;
}
aside
{
    width: 30%;
    background-color: #FFC107;
    padding-top: 2.5em;    
    margin: 0px;
    display: flex;
    flex-direction: column;
    position: relative;
}
img.displayed
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 13em;
    height: 13em;
    border-radius: 13em;
    padding: 0.4em;
}
#infos
{
   
    width: auto;
}
.coor
{
    width: 250PX;
    height: auto;
    margin-top: 10PX;
    margin-left: 25px;
    margin-right: 25px;
}
#contact, #Apropos, #Loisirs
{
    text-align: center;
    background-color: #37474F; 
    color:  #FFC107;
    padding: 5px;
    width: auto;
    margin-top: 1.5em;
}
#moi
{
    text-align: justify;
    width: 250PX;
    height: auto;
    MARGIN: 25PX;
}
.fa-bowling-ball, .fa-futbol, .fa-table-tennis
{
    font-size: 35px;
    border: 2px solid #37474F;
    width: 1em;
    height: 1em;
    padding: 15PX;
    border-radius: 50%;
}
.Loisir
{
    display: flex;
    justify-content: center;
    justify-content: space-around;    
}
#bas
{
    position: absolute;
    bottom: 2em;
    left: 0px;
    right: 0px;
}
main
{
    width: 100%;
    height: auto;
    padding-right: 5.5em;
    padding-left: 5.5em;   
}
header
{
    padding-top: 5%;
    padding-bottom: 7%;
}
h1
{
    font-size: 60px;
    margin-bottom: 10px;
}
#prenom
{
    color:#FFC107;
}
h2
{
    margin-top: 0px;    
}
#ligne
{
    border-bottom: 2px solid #FFC107;
}
.flex
{
    height: 55%;
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    padding: 15px;
    width: 100%;
    margin-right: 6em;
    margin-top: 5PX;
}
main h3
{
    border-bottom: 2px solid #FFC107;
    padding-bottom: 10px;
    font-size: 1.7em;
}


.fa-dot-circle
{
    padding-top: 4px;
    width: 40px;
    content: "\f192";
    color: #FFC107;
    font-size: 15px;
}

.fa-circle
{
    content: "\f192";
    color: #FFC107;
    font-size: 10px; 
    padding-top: 7px;
    padding-left: 3px;
    width: 40px;
}
.fa-pencil-alt,.fa-graduation-cap, .fa-briefcase
{
    margin-right: 30px;
    color: #FFC107;
}

h3
{
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-top: 1em
}
.date
{
    width: 350px;
}
h4
{
    font-size: 1.3em;
    margin-bottom: 0px;
    margin-top: 0px;
}
#RECOMMANDATIONS
{
    display: flex;
}
h5
{
    font-size: 1em;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}
p
{
    margin-top: 7px;
    margin-bottom: 7px;
}
.soustitre 
{
    font-size: 1.2em;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 0px;
}
.alignement
{
    display: inline-flex;
}
.rec
{
    width: 500px;
}
@media all and (max-width: 991.98px) 
{   
    html
    {
        font-size: 2em;
        width: fit-content;
    }
    body, aside, main, .flex
    {
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: auto;
    }
    header
    {
        padding: 0px;
    }
    aside p section:last-child
    {
        text-align: justify;        
    }    
    main h4
    {
        margin-top: 15px;
    }
    #infos
    {
        margin: auto;
        width: auto;
    }   
    #bas
    {
        display: contents;
        bottom: 1.5em;
    }
    aside, main
    {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    main
    {
        padding: 1em;
    }
    .flex
    {
        margin: auto;
        flex: none;
        padding: 20px;
    }
    .date
    {
        margin: auto;
        width: 750px;
        margin-left: 10%;
    }
    h4,h5, p
    {
        margin-left: 9%;
    }
    #RECOMMANDATIONS
    {
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin: auto;
    }
    .rec
    {
        width: 700px;
        margin-left: 7%;
        padding: 20px;
    }
    h1, h2, h3
    {
        text-align: center;
        margin-top: 0.5em;
        width: 991px;
    }
    h1
    {
        font-size: 2.5em;
    }
    h2
    {
        font-size: 1.5em;
        margin-top: auto;
    }    
    h4
    {
        font-size: 1.1em;
    }
    .soustitre 
    {
        margin-top: 0px;
    }   
    #moi
    {
        margin: auto;
        width: 900px;
    }
    .fa-bowling-ball, .fa-futbol, .fa-table-tennis
    {
        font-size: 2em;
    }  
    .coor
    {
        margin-left: auto;
        width: 400PX;
        margin-right: auto;
        margin-top: 30px;
    } 
    .fa-dot-circle
    {
        width: 60px;
        
        font-size: 25px;
    }
    .fa-circle
    {

        
        font-size: 20px; 
        
        width: 60px;
    }

}
